.next-event {
    background-color: rgb(253, 235, 196);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.next-event h3 {
    font-size: 1.5em;
}

.no-display {
    display: none;
}
