
#myFriends {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10px;
}

#addFriend {
    background-color: darkgrey;
}

#addNewFriend-btn {
    width: 100%;
    text-align: center;
}

.friendList-item { 
    display: flex;
    justify-content: space-between;
}

.friendList-item-actions {
    margin: auto 2px;
}

.addFriend-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-basis: 100%;
}

.addFriend-form > .invalid-username-warning {
    font-size: 0.75em;
    font-weight: bold;
    background-color: rgb(255, 2, 2);
    text-align: left;
    margin: 3px 0;
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
    padding: 0 10px;
}

#saveFriend-btn {
    background: rgb(46, 155, 250)
}
