
body {
    margin: 0;
    padding: 0;
}

.hidden { 
    visibility: hidden;
}


/* ---------------- Header ------------------- */
header {
    margin: 0;
    height: 100px;
    background: gray;
    width: 100%;
    padding: 10px;
}

.title {
    margin: 0;
}



/* ----------------- Main body content ----------------- */


.container {
    background-color: white;
    /* make this a gradient or a picture? */
}


/* ------------- Public Message Content -------------- */

.public-messages-box  {

    padding: 1em;
}

.publicMessagesTitle {
    text-align: center;
    
}

.composePublicMessage{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

/* ------------------- Authentication forms (login/register) -------------------- */

.auth { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 15em;
    height: 15em;
    justify-content: center;

}

/* -------------- Login form -------------  */
.auth--login {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;

}

.auth--login > p {
    margin: 20px auto;

}

.login {
    display: flex;
    flex-direction: column;
}

#login--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(167, 167, 167);
}

#create-new-account-btn {
    color: white;
    border-color: rgb(80, 177, 96);
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}


/* ---- input fields ---- */
.input-box {
    margin: 8px 5px;
}

/* --------------- Register form -------------- */
.auth--register {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;
}

#register--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}

.register {
    display: flex;
    flex-direction: column;
}


 /* --------------------- Actual user content ------------------ */
.dashboard { 
    background-color: dimgray;
    width: 50%;
    height: 50%;
}

/* ------------------ Footer --------------------- */

footer {
    margin: 0;
    height: 100px;
    background: gray;
    width: 100%;
    padding: 10px;
}