@import "events.css";


@import url("friendList.css");
@import url("publicMessages.css");

body {
    margin: 0;
    padding: 0;
    background-color: rgb(249, 198, 137);
    display: flex;
    flex-direction: column;
}

.hidden { 
    display: none;
}


/* ---------------- Header ------------------- */
header {
    display: flex;
    margin: 0;
    height: 100px;
    background: rgb(201, 85, 35);
    width: 100%;
    padding: 10px;
}

.title {
    margin: auto 0 auto 0;
    justify-content: flex-start;
}

.logout {
    justify-content: flex-end;
    margin: 10px 10px 10px auto;
    width: 70px;
}



/* ----------------- Main body content ----------------- */


.container {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: rgb(249, 198, 137); */
    /* make this a gradient or a picture? */
}




/* ------------------- Authentication forms (login/register) -------------------- */

.auth { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 15em;
    height: 15em;
    justify-content: center;

}

/* -------------- Login form -------------  */
.auth--login {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;

}

.auth--login > p {
    margin: 20px auto;

}

.login {
    display: flex;
    flex-direction: column;
}

#login--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(167, 167, 167);
}

#create-new-account-btn {
    color: white;
    border-color: rgb(80, 177, 96);
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}


/* ---- input fields ---- */
.input-box {
    margin: 8px 5px;
}

/* --------------- Register form -------------- */
.auth--register {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;
}

#register--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}

.register {
    display: flex;
    flex-direction: column;
}


 /* --------------------- Actual user content ------------------ */
.dashboard { 
    background-color: dimgray;
    width: 50%;
    height: 50%;
    margin: 10px 0;
}

/* ------------------ Footer --------------------- */

footer {
    margin: auto 0 0 0;
    height: 100px;
    background: rgb(201, 85, 35);
    width: 100%;
    padding: 10px;
}