@import "events.css";


@import url("friendList.css");
@import url("publicMessages.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Yantramanav', sans-serif;
}

button {
    font-family: inherit
}

.hidden { 
    visibility: hidden;
}


/* ---------------- Header ------------------- */
header {
    margin: 0;
    height: 100px;
    background: gray;
    width: 100%;
    padding-bottom: 1px;
    display:flex;
    flex-direction: row;
}

.title {
    margin: 0;
    align-self: center;
}

.logo-and-title {
    display:flex;
    flex-direction: row;
}

.currentWeather {
    padding-right: 2em;
}

.logo {
    height: 90px;
    width: auto;
}


/* ----------------- Main body content ----------------- */


.container {
    background-color: white;
    /* make this a gradient or a picture? */
}




/* ------------------- Authentication forms (login/register) -------------------- */

.auth { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 15em;
    height: 15em;
    justify-content: center;

}

/* -------------- Login form -------------  */
.auth--login {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;

}

.auth--login > p {
    margin: 20px auto;

}

.login {
    display: flex;
    flex-direction: column;
}

#login--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(167, 167, 167);
}

#create-new-account-btn {
    color: white;
    border-color: rgb(80, 177, 96);
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}


/* ---- input fields ---- */
.input-box {
    margin: 8px 5px;
}

/* --------------- Register form -------------- */
.auth--register {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    width: 100%;
}

#register--btn {
    margin: auto 5px;
    font-size: 20px;
    background-color: rgb(80, 177, 96);
}

.register {
    display: flex;
    flex-direction: column;
}


 /* --------------------- Actual user content ------------------ */
 .articles{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-area: articles;

} 

.tasks {
    border: 1px solid;
    grid-area: tasks;
}

.weather{
    grid-area: weather;
    border: 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.public-messages {
    grid-area: chat;
}

#myFriends {
    grid-area: friends;
}

.events-container {
    grid-area: events;
    border: 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.dashboard { 
    background-color: dimgray;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 12% 35% 35% 18%;
    grid-template-rows: auto;
    grid-template-areas: 
    "weather chat chat friends"
    "tasks chat chat friends"
    "tasks articles articles friends"
    "tasks events events friends";
}



.myArticleContainer{
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.friend-articles-list{
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}



/* ------------------ Footer --------------------- */

footer {
    margin: 0;
    height: 100px;
    background: gray;
    width: 100%;
    padding-top: 10px;
}